<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">Ready to Protect the Core?</h2>
      <p class="about-subtitle">
        Dive into Aegis Protocol, build your space station, and keep the core
        alive as long as you can!
      </p>
      <p class="about-text">
        So Aegis Protocol is basically tower defense in space, but way more
        chill than it sounds. Clean graphics, solid gameplay, won't give you
        anxiety attacks. Protect the core, upgrade your defenses, and face
        endless waves of enemies in a relaxing yet challenging environment. It’s
        time to see how long you can last.
      </p>
      <a
        class="about-btn"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.WRBStudio.AegisProtocol&hl=en&gl=us"
        rel="noopener noreferrer"
        aria-label="Download on Google Play"
        >Play Now</a
      >
    </div>
  </div>
</section>
