<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">
        Are You Ready to Master the Stack?
      </h2>
      <p class="about-subtitle">
        Join the Hexa Stack: Puzzle Challenge today and put your brain to the
        test!
      </p>
      <p class="about-text">
        Give Hexa Stack a try - you won't regret it. Whether you’re looking for
        a relaxing break or a challenging brain workout, this game has something
        for everyone. Stack the hexagons, solve the puzzles, and unlock exciting
        new levels.
      </p>
      <a
        class="about-btn"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.avalon.hexacolor.sort&hl=en&gl=us"
        rel="noopener noreferrer"
        aria-label="Download on Google Play"
        >Play Now</a
      >
    </div>
  </div>
</section>
