<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        Why You'll Love Hexa Stack: Puzzle Challenge
      </h2>
      <p class="features-text">Bullet Points:</p>
      <ul class="features-list">
        <li class="features-list-item">
          <p class="features-item-text">
            Honestly can't put it down - it's relaxing but you still gotta use
            your brain
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-item-text">
            Hundreds of Levels: Explore dozens of exciting levels with
            increasing difficulty.
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-item-text">
            Brain Training: Really good mental exercise
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-item-text">
            Vibrant Visuals: Beautiful and colorful hexagon designs with smooth
            animations.
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-item-text">
            Casual Fun for All Ages: Easy controls make it perfect for players
            of all ages—from kids to adults.
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-item-text">
            Offline Play: Enjoy the game anytime, anywhere, even without an
            internet connection!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
