<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">
        Space Defense That Actually Makes Sense
      </h2>
      <p class="gameplay-text">
        In Aegis Protocol, you have complete control over the defense of your
        space station:
      </p>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Endless Waves: Fight against waves of increasingly difficult
            enemies.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Modular Station: Build and upgrade various modules to protect your
            core.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Destructible Modules: Every module can be destroyed, so plan your
            upgrades carefully.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Direct Control: Easy-to-learn controls to manage your station,
            upgrade systems, and make decisions on the fly.
          </p>
        </li>
      </ul>
      <p class="gameplay-text">
        As the waves intensify, your focus on upgrading, maintaining, and
        protecting your space station will be tested. Can you keep your core
        stable through the onslaught?
      </p>
    </div>
  </div>
</section>
