<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">
        Simple to learn, but you'll be scratching your head on the later levels
      </h2>
      <p class="gameplay-text">The concept is simple:</p>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Drag and stack colorful hexagonal blocks to solve each puzzle.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Match, sort, and arrange the blocks to complete each level.
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Think ahead and you'll rack up better scores
          </p>
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-text">
            Each level presents unique challenges, with harder combinations and
            tricky sorting situations as you progress.
          </p>
        </li>
      </ul>
      <p class="gameplay-text">
        Each level gets trickier, so you'll really have to think, but it stays
        fun throughout There's this great 'click' feeling when you nail a tricky
        move with those bright hexagon pieces!
      </p>
    </div>
  </div>
</section>
