<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">
        Don’t Just Take Our Word for It…
      </h2>
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">James R.:</h3>
          <p class="reviews-item-text">
            "Been looking for a puzzle game that won't make me want to chuck my
            phone across the room - this one actually works! Love how it makes
            me think without wanting to throw my phone! And there's something
            weirdly satisfying about those colorful hexagon pieces. Perfect for
            relaxing after a long day!"
          </p>
        </li>
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">Sophie D.:</h3>
          <p class="reviews-item-text">
            "I absolutely love this game! The levels are diverse, and it’s easy
            to pick up, but as you progress, the puzzles get tricky enough to
            keep you engaged. I can’t stop playing—it’s addictive, but in a
            relaxing way."
          </p>
        </li>
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">Michael B.:</h3>
          <p class="reviews-item-text">
            "Hexa Stack is the perfect mix of fun and challenge. It really makes
            you think and plan ahead. Looks really nice, plus I can play it on
            the subway without wifi when I’m on the go."
          </p>
        </li>
        <li class="reviews-list-item">
          <h3 class="reviews-item-name">Olivia G.:</h3>
          <p class="reviews-item-text">
            "This game is so satisfying! I’ve tried so many puzzle games, but
            Hexa Stack stands out because the puzzles feel so rewarding to
            solve. Plus, it's simple enough to pick up anytime, and the
            challenges always keep me coming back."
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
